body {
    background-image: url("../images/funky-lines/funky-lines.png");
}

.navbar-brand, h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 24px;
}

.border, .border-bottom {
    border-color: #cccccc !important;
    border-width: 2px !important;
}

.border-top {
    border-width: 5px !important;
}

.card-body {
    bottom: .5rem;
}